<section class="task-block">
    <div class="task-block__wrapper">
        <div class="task-block__ball-item">
            <span class="title">{{ball_1.title}}</span>
            <span class="score">{{ball_1.score}}</span>
            <span class="color" style="background-color: {{ball_1.color}}"></span>
        </div>
        <div class="task-block__ball-item">
            <span class="title">{{ball_2.title}}</span>
            <span class="score">{{ball_2.score}}</span>
            <span class="color" style="background-color: {{ball_2.color}}"></span>
        </div>
        <div class="task-block__ball-item">
            <span class="title">{{ball_3.title}}</span>
            <span class="score">{{ball_3.score}}</span>
            <span class="color" style="background-color: {{ball_3.color}}"></span>
        </div>
    </div>
</section>